/***********************************************************Tag selectors****************************************************************************/
body {
  background-color: #c6ebc9;
}

hr {
  background-color: green;
  height: 3px;
}

img {
  height: 70%;
}

h1 {
  color: #c70039;
}

h2 {
  color: #c70039;
}

h1:hover {
  color: #c70039;
}

/***********************************************************Class selectors****************************************************************************/
.head1 {
  color: #335d2d;
}

.head {
  color: #7ea04d;
}

.circular {
  border-radius: 100%;
}
/***********************************************************ID selectors****************************************************************************/
#list {
  color: #335d2d;
}
